VITE_API_BASE_URL=http://localhost:8080/api
VITE_WS_URL=ws://localhost:8080/ws
VITE_NAVER_MAP_CLIENT_ID=r5i0jlw3c9
VITE_GOOGLE_CLIENT_ID=441808250825-dj2ql1vf585gkkijoj6ochmis13qq5e8.apps.googleusercontent.com
VITE_KAKAO_REST_API_KEY=2471aad6b7962e886abdbe342180e470